* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# 1. Sembunyikan CSS agar tidak mendominasi
*.css linguist-vendored

# 2. Paksa file .blade.php dideteksi sebagai Blade
*.blade.php linguist-language=Blade

# 3. Sembunyikan folder sistem PHP bawaan Laravel dari statistik
# Ini akan membuat file controller, config, dll tidak dihitung, sehingga Blade jadi dominan
app/**/* linguist-vendored
config/**/* linguist-vendored
database/**/* linguist-vendored
routes/**/* linguist-vendored
bootstrap/**/* linguist-vendored